<h1>Disc Golf Course Review</h1>
<p>Welcome to the disc Golf Course Review Website.<p>
<p>This website allows you to create and review different disc golf courses.</p>

<p>We currently have <%= @courses.count %> courses and <%= @reviews.count %> reviews!</p>
<p>Click the link below to add more!</p>
<%= link_to "Create a course", courses_path + "/new" %>
<br />
<br />
<%= link_to "View our courses", courses_path %>