<li>
  <span class="content"><%= review.content %></span>
  <span class="rating"> <%= review.rating %></span>
  
  <% if current_user?(review.user) %>
    <%= link_to "delete", review, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: review.content %>
  <% end %>
</li>